body {

    background-color: #ADD8E6; /* Azul claro */

    font-family: Arial, sans-serif;

}

h1 {

    color: #336699;

}

section {

    margin-bottom: 20px;

}

footer {

    text-align: center;

    padding: 10px;

    background-color: #f0f0f0;
}

